*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333333;
}

/* Global starts here  */
h1{
    color: white;
    font-size: 120px;
    text-transform: uppercase;
}

h2{
    color: white;
    font-size: 22px;
    cursor: pointer;
}

h5{
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.container{
    width: 100%;
    height: 80vh;
}
.row{
    width: 100%;
    height: 100vh;

}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Global ends here  */

.card{
    width: 300px;
    /* height: 400px; */
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}


.imgBox{
    height:inherit;
    /* background-color: red; */
    /* overflow: hidden; */
    /* border: 2px solid green; */
    position: relative;
    

}

img{
    width: 100%;
    border-radius: 10px;
    object-fit:cover;
    object-position: center;

}

.imgBox i {
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%) scale(1);
    transition: all ease 0.4s;
    z-index: 99;
    color: white;
    opacity: 0;
}

.infoBox{
    position: absolute;
    display: flex;
    padding: 50px 10px;
    bottom: 0;
    
}


.followDiv{
    margin-left: 20px;
}

.btndiv{
    display: flex;
    justify-content: space-around;
    display: none;
}
button{
    margin: 20px 0;
    padding: 10px 20px;
    /* color: white; */
    cursor: pointer;
    display: block;
}
.active{
    display: block;
}


/* project 3 starts here  */

.mouserEvent{
    position: relative;
}

.cursor{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

/* project 3 ends here   */